---
#########################################################
## Podman Volumes module                               ##
#########################################################

# register variables to facts when looped play
- name: Register variables (looped)
  ansible.builtin.set_fact:
    container_repository_url: "{{ item.value.container_repository_url }}"
    container_name: "{{ item.value.container_name }}"
    container_repository_tag: "{{ item.value.container_repository_tag }}"
    container_volumes: "{{ item.value.container_volumes }}"
    container_quadlet_options: "{{ item.value.container_quadlet_options }}"
    container_env: "{{ item.value.container_env | default(omit) }}"
    # volume_source_folder: "{{ item.value.volume_source_folder | default(omit) }}"
    volume_mode: "{{ item.value.volume_mode | default(omit) }}"
  # volume_destination_folder: "{{ item.value.volume_destination_folder | default(omit) }}"
  when:
    - item.value.container_name is defined

# Validate global variables.
- name: Validate variables for Podman Volumes module...
  ansible.builtin.assert:
    that: varitem is defined
    fail_msg: Required variable '{{ varitem }}' has not been provided.
    quiet: true
  loop_control:
    loop_var: varitem
  loop:
    - container_volumes

#########################################################
## create_volumes                                      ##
#########################################################

# Create volume folders
- name: Create container volume folders...
  when: action_type == "create_volumes"
  block:
    # Validate variables with loop
    - name: Validate variables for copying files to container volume folders...
      ansible.builtin.assert:
        that: varitem is defined
        fail_msg: Required variable '{{ varitem }}' has not been provided.
        quiet: true
      loop_control:
        loop_var: varitem
      loop:
        - container_volumes

    # Add podman_data_folder before each item in container_volumes
    - name: Gather volume folders...
      ansible.builtin.set_fact:
        _container_volumes: "{% for volumeitem in container_volumes %}{{ podman_data_folder }}/{{ volumeitem }}{% if not loop.last %},{% endif %}{% endfor %}"

    # Create folders from first part of container_volumes
    - name: Create data folders...
      become: true
      ansible.builtin.file:
        path: "{{ item.split(':')[0] }}"
        state: directory
        owner: "{{ volume_owner | default(podman_service_user) }}"
        group: "{{ volume_group | default(podman_service_group) }}"
        mode: "{{ volume_mode | default('0774') }}"
      with_items: "{{ _container_volumes.split(',') }}"
      when: container_volumes is defined and container_volumes | length > 0

#########################################################
## destroy_volumes                                     ##
#########################################################

# Destroy volume folders
- name: Destroy container volume folders...
  when: action_type == "destroy_volumes"
  block:
    # Add podman_data_folder before each item in container_volumes
    - name: Gather volume folders...
      ansible.builtin.set_fact:
        _container_volumes: "{% for volumeitem in container_volumes %}{{ podman_data_folder }}/{{ volumeitem }}{% if not loop.last %},{% endif %}{% endfor %}"

    # Destroy folders from first part of container_volumes
    - name: Destroy data folders...
      ansible.builtin.file:
        path: "{{ item.split(':')[0] }}"
        state: absent
      with_items: "{{ _container_volumes.split(',') }}"
      when: container_volumes is defined and container_volumes | length > 0

#########################################################
## copy_to_volume                                      ##
#########################################################

# Copy to volume folders
- name: Copy files to container volume folders...
  when: action_type == "copy_to_volume"
  block:
    # Validate variables with loop
    - name: Validate variables for copying files to container volume folders...
      ansible.builtin.assert:
        that: varitem is defined
        fail_msg: Required variable '{{ varitem }}' has not been provided.
        quiet: true
      loop_control:
        loop_var: varitem
      loop:
        - volume_source_folder
        - volume_destination_folder

    # Copy folder
    - name: Copy files to container volume folders...
      become: true
      ansible.builtin.copy:
        src: "{{ volume_source_folder }}"
        dest: "{{ podman_data_folder }}{{ volume_destination_folder }}"
        remote_src: true
        owner: "{{ volume_owner | default(podman_service_user) }}"
        group: "{{ volume_group | default(podman_service_group) }}"
        mode: "{{ volume_mode | default('0644') }}"

#########################################################
## Post-actions                                        ##
#########################################################

# Unset variables
# - name: Unset variables...
#   ansible.builtin.set_fact:
#     <variable>: null
