---
#########################################################
## Get Podman variables from Vault                ##
#########################################################

- name: Gather Podman variables...
  block:
    # Validate variables
    - name: Validate variables for RedHat Podman...
      ansible.builtin.assert:
        that: "{{ varitem }} is defined"
        fail_msg: Required variable '{{ varitem }}' has not been provided.
        quiet: true
      loop_control:
        loop_var: varitem
      loop:
        - podman_secrets.secret_engine_name
        - podman_secrets.secret_name

  # Gather Podman variables from Vault
  # TODO: include_role: openbao with action=get_secret to fetch variables and merge into podman_vars
