---
#########################################################
## Podman installation                                 ##
#########################################################

# Gather installed packages
- name: Gather installed packages...
  ansible.builtin.package_facts:
    manager: auto

# Check if Podman is installed
- name: Determine Podman container infrastructure...
  ansible.builtin.debug:
    msg: Podman is not installed. Please wait while installing Podman prerequisites...
  when: '"podman" not in ansible_facts.packages'

#########################################################
## Uninstall before install                            ##
#########################################################

# Run uninstall if Podman is installed and uninstall is set
- name: Run uninstall action if Podman is installed...
  ansible.builtin.include_tasks: uninstall.yml
  when:
    - '"podman" in ansible_facts.packages'
    - podman_uninstall | bool

#########################################################
## Pre-installation                                    ##
#########################################################

#########################################################
## Installation                                        ##
#########################################################

# Install Podman packages on RHEL
- name: Install Podman packages on RHEL platform...
  become: true
  ansible.builtin.package:
    name: "{{ podman_rpm_packages }}"
    state: present
  when: ansible_os_family == "RedHat"

# Install Podman packages on Ubuntu
- name: Install Podman packages on Ubuntu platform...
  become: true
  ansible.builtin.apt:
    name: "{{ podman_apt_packages }}"
    state: present
  when: ansible_pkg_mgr == 'apt'

# Start Podman on boot
- name: Start Podman on server boot...
  become: true
  ansible.builtin.systemd:
    name: podman
    enabled: true
    state: started

#########################################################
## Configuration                                       ##
#########################################################

# Configure Podman
- name: Start configure task...
  ansible.builtin.include_tasks: configure.yml
  vars:
    action_type: configure

#########################################################
## Post-install                                        ##
#########################################################

# Unset variables
# - name: Unset variables...
#   ansible.builtin.set_fact:
#     <variable>: null
