---
#########################################################
## Uninstall                                           ##
#########################################################

# Uninstall Podman
- name: Uninstall Podman on RHEL platform...
  become: true
  ansible.builtin.package:
    name: podman
    state: absent

# Delete podman files
- name: Delete Podman files...
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  with_items:
    - /etc/containers/registries.conf
    - /etc/containers/registries.d
    - /etc/containers/storage.conf
    - /etc/containers

# Delete user podman
- name: Delete Podman user/groups...
  become: true
  ansible.builtin.user:
    name: "{{ item }}"
    state: absent
  with_items:
    - "{{ podman_service_user }}"
    - "{{ podman_service_group }}"
